---
---

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="My linked notebook" property="og:site_name"/>
    <meta content="My path to perpetual learning." property="og:description">
    <meta content="{{ site.url }}/about/" property="article:author">


    {%- if page.title -%}
    <meta content="{{ page.title }}" property="og:title">
    <meta content="article" property="og:type">
    <meta content="{{ site.url }}{{ page.url }}" property="og:url">
    {%- else -%}
    <meta content="website" property="og:type">
    <meta content="{{ site.url }}{{ page.url }}" property="og:url">
    {%- endif -%}

    <title>{{site.title}}</title>

    <link rel="canonical" href="{{site.url}}{{page.url}}"/>
    <link rel="apple-touch-icon" href="{{site.profile_pic}}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>

    <link rel="icon" href="{{site.favicon}}" type="image/png" sizes="16x16"/>
    <link href="/assets/css/style.css" rel="stylesheet" media="all" class="default"/>

    <!--[if IE]>
        <link href="/assets/css/ie-target.css" rel="stylesheet" type="text/css"/>
    <![endif]-->
    <!--<link href="/assets/css/prism.css" rel="stylesheet" />-->
    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml">


</script>
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML" type="text/javascript"></script>

</head>

<body>

<!-- copied from Dracula theme -->
{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>

  <body class="{{ page.colorspace }}">
      {% if site.show_header %}
        <div id="header">
          <nav>
            {% if site.github.repository_url %}
              <li class="fork"><a href="{{ site.github.repository_url }}">View On GitHub</a></li>
            {% endif %}

            {% if site.show_downloads %}
              {% if site.github.zip_url %}
                <li class="downloads"><a href="{{ site.github.zip_url }}">ZIP</a></li>
              {% endif %}

              {% if site.github.tar_url %}
                <li class="downloads"><a href="{{ site.github.tar_url }}">TAR</a></li>
              {% endif %}

              <li class="title">DOWNLOADS</li>
            {% endif %}
          </nav>
        </div><!-- end header -->
      {% endif %}

    <div class="wrapper">
      {% if site.show_header %}<section>
      {% else %}<section class="no-header">{% endif %}
        <div id="title">
          {% if page.icon %}
            <img src="{{ page.icon | relative_url }}" />
          {% endif %}
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
          <p>{{ site.description | default: site.github.project_tagline }}</p>
          <hr>
        </div>'
<!-- copied from dracula -->

    <div class="container">                    
        <div class = "box">
            {%- include header.html -%}
            {%- include feed.html -%}

            {%- if page.content-type == "notes" 
                or page.content-type == "post" 
                or page.content-type == "eg" -%}
            <main>
                <h1>{{page.title}}</h1>
                {%- include content.html -%}
                <hr>
                {%- include backlinks.html -%}
                {%- include related.html -%}
            </main>
            {%- endif -%}
            {%- include comments.html -%}
            {%- include footer.html -%}
        </div>
        <button class="scroll-to-top" id="scroll-to-top"><i class="fa fa-chevron-up"></i></button>
    </div>

    <script>
        document.getElementById("scroll-to-top").addEventListener("click", function() {
            window.scrollTo({top: 0, left: 0, behavior: 'smooth'});
        });
    </script>
    {%- include contextmenu.html -%}
</body>



</html>

{%- if page.content-type == "notes"
or page.content-type == "post" -%}
{%- if page.title != "Tags" -%}
<script>for(let h of document.querySelectorAll('h2[id],h3[id],h4[id]'))h.innerHTML+=` <a href="#${h.id}" aria-hidden="true">#</a>`</script>
{%- endif -%}
{%- endif -%}